@import '../../../assets/styles/';

:host {
  display: block;

  footer {
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 14px;
    color: $color_RM1;
    $page_bg1: darken($page_bg1, 3%);
    $page_bg2: darken($page_bg2, 3%);
    @include bg-gradient($page_bg1, $page_bg2);

    a {
      color: inherit;
      text-decoration: none;
      &:visited {
        color:inherit
      }
      &:hover {
        color: $color_RM2;
      }
    }

    .fa-heart {
      font-size: 16px;
      $color_heart: #992d2d;
      $color_heartbeat: #ff0000;
      color: $color_heart;
      transform: scale3d(1,1,1);
      animation: heart-beating 5s ease-in infinite forwards;
      @keyframes heart-beating {
        0% {
          transform: scale3d(1,1,1);
          color: $color_heart;
        }
        10% {
          transform: scale3d(1,1,1);
          color: $color_heart;
        }
        18% {
          transform: scale3d(1.08,1.08,1.08);
          color: $color_heartbeat;
        }
        23% {
          transform: scale3d(1.04,1.04,1.04);
          color: $color_heart;
        }
        28% {
          transform: scale3d(1.07,1.07,1.07);
          color: $color_heartbeat;
        }
        33% {
          transform: scale3d(1,1,1);
          color: $color_heart;
        }

      }
    }
  }
}
