@import '../../../assets/styles/';

:host {
  select {
    border-radius: 4px;
    padding: 8px;
  }
  input {
    max-width: 175px;
    width: 100%;
    border-radius: 4px;
    padding: 8px 16px;
    border: 0;
    transition: max-width .227s ease-in-out;

    &:focus {
      max-width: 400px;
      width: 100%;
    }

    @media screen and (max-width: $grid-breakpoints-sm) {
      margin-bottom: 1rem;
    }
  }

  .search-term {
    color: $color_RM2;
  }
}
