@import "../../../assets/styles/variables";

:host {
  display: block;
  header {
    height: 70px;
    &.mobile-show {
      height: 100%;
    }

    nav {
      background-color: transparent !important;
      .navbar-nav  {
        .nav-item {
          .nav-link  {
            color: #ffffff;
            font-weight: bold;

          }
        }
      }
      .navbar-toggler-icon {
        color: #ffffff;
      }
    }

    svg {
      width: auto;
      height: 35px;
      display: inline-block;
      vertical-align: baseline;
      margin-right: 16px;
    }
  }
  .main-title {
    color: $color_RM1;
    -webkit-text-fill-color: $color_RM1;
    -webkit-text-stroke: 1px $color_RM2;
    margin-bottom: 0;
  }
}
