<div class="episodes">

  <div class="container mb-2 mt-2">
    <div class="row">
      <div class="col">
        <h1 class="pb-2 main-title">Challenges</h1>
        <p class="lead">
          This a technical challenge for a job offer using the
          <strong>
            <a class="rm-api" href="https://rickandmortyapi.com/" target="_blank">
              RickandMortyApi
            </a>
          </strong>
        </p>
      </div>
    </div>
  </div>

  <section class="challenge-1 challenge">
    <div class="container mb-2">
      <div class="row">
        <div class="col">
          <h2 class="pb-2">Challenge # 1</h2>
          <h6>Char counter:</h6>
          <ul>
            <li><p>How many times does the letter <strong>"l"</strong> (case insensitive) appear in the names of all the <strong>locations</strong></p></li>
            <li><p>how many times does the letter <strong>"e"</strong> (case insensitive) appear in the names of all the <strong>episodes</strong></p></li>
            <li><p>How many times does the letter <strong>"c"</strong> (case insensitive) appear in the names of all the <strong>characters</strong></p></li>
            <li><p>how long the program took 👆 in total</p></li>
          </ul>
          <p>
            Total execution of Fase # 1
            <br>
            Execution Time: <strong *ngIf="fase1Timer">{{ fase1Timer | date: 'SSS' }}</strong> milliseconds.
          </p>
        </div>
      </div>
    </div>
    <div class="container fase1 mb-5">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let challenge of challengesData">
          <app-challenge-one *ngIf="challenge" [challenge]="challenge"></app-challenge-one>
        </div>
      </div>
    </div>
  </section>

  <section class="challenge-1 challenge">
    <div class="container episodes__task">
      <div class="row">
        <div class="col">
          <h2 class="pb-2">Challenge # 2</h2>
          <h6>Episode locations:</h6>
          <ul>
            <li><p>
              For each <strong>episode</strong>, indicate the quantity and a list with the
              <strong>location</strong> (<strong>origin</strong>) of all the
              <strong>characters</strong> that appeared in that <strong>episode</strong>
              (without repeating)
            </p></li>
            <li><p>how long the program took 👆 in total</p></li>
          </ul>
          <p>
            Total execution of Fase # 2
            <br>
            Execution Time: <strong *ngIf="fase2Timer">{{ fase2Timer | date: 'SSS' }}</strong> milliseconds.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-4">{{ episodes.length }} Episodes</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngFor="let episode of epiLocation; let i = index">
          <app-challenge-two [episode]="episode"></app-challenge-two>
        </div>
      </div>
    </div>
  </section>
</div>
