@import '../../../assets/styles/';

.episodes {

  a.rm-api {
    color: $color_RM2 !important;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $color_RM1 !important;
    }
  }
}
