@import '../../../../assets/styles/';

:host {
  .card {
    @include cards-styles();
    margin: 0 auto;
    margin-bottom: 2rem;
    @media screen and (max-width: $grid-breakpoints-sm) {
      max-width: 95%;
    }

    &:hover {
      @include cards-styles-hover();
      h4 {
        color: $color_RM2;
      }
    }
    h4 {
      color: $color_title;
      transition: all .187s ease-out;
    }
  }
}
