@import '../assets/styles/';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
  @include bg-gradient($page_bg1, $page_bg2);

  #container-wrapper {
    min-height: calc(100vh - #{$headerHeight + $footerHeight});
  }
}
