$border_width: 1px;
$color_RM1: #43b4ce;
$color_RM2: #79b069;
$color_title: $color_RM1;
$color_card_text: #7352a0;
$color_card_bg: #100224;
$color_card_shadow: #29075a;

$page_bg1: #12011a;
$page_bg2: #120335;

$headerHeight: 70px;
$footerHeight: 35px;

